@model MailRequestAdmin
<div class="full-height">
    <div class="full-height-scroll white-bg border-left">

        <div class="element-detail-box">

            <div class="tab-content">
                <div class="mail-box-header">
                    <div class="float-right tooltip-demo">
                        <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> Draft</a>
                        <a href="mailbox.html" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Discard</a>
                    </div>
                    <h2>
                        Mail Blüteninə Cavab
                    </h2>
                </div>
                <div class="mail-box">


                    <div class="mail-body">

                        <form method="post">

                            <div class="form-group">
                                @Html.Label("Qəbul Edən Mail Adresi")
                                @Html.DropDownListFor(x=>x.ReceiverMail,(IEnumerable<SelectListItem>)ViewBag.v1,new {@class="form-control"} )
                            </div>
                            <br />

                            <div class="form-group">
                                @Html.Label("Başlıq")
                                @Html.TextBoxFor(x=>x.Subject, new {@class ="form-control"})
                            </div>
                            <br />

                            <div class="form-group">
                                @Html.Label("Mesaj ")
                                @Html.TextAreaFor(x=>x.Body, 15, 5,   new { @class ="form-control"})
                            </div>
                            <br />

                            <button class="btn btn-outline-primary">Mail Göndər</button>
                        </form>


                    </div>

                    <div class="mail-text h-200">

                        <div class="summernote">
                        @*    <h3>Hello Jonathan! </h3>
                            dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's</strong> standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            <br />
                            <br />*@

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="mail-body text-right tooltip-demo">
                        <a href="mailbox.html" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply"></i> Send</a>
                        <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Discard</a>
                        <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> Draft</a>
                    </div>
                    <div class="clearfix"></div>



                </div>
            </div>

        </div>

    </div>
</div>
