@using Elite.EntityLayer.Concreate;
@model List<Contact>
<div class="col-lg-6">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Əlaqə</h5>
            <span class="label label-primary">Son Gələnlər</span>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#" class="dropdown-item">Config option 1</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-item">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content inspinia-timeline">
            @foreach(var x in Model.OrderByDescending(x => x.ContactID).Take(20))
            {
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-3 date">
                            <i class="fa fa-briefcase"></i>
                            @x.Date.Year
                            <br />
                            <small class="text-navy">@(((DateTime)x.Date).ToString("dd-MMM-yyyy"))</small>
                        </div>
                        <div class="col-7 content no-top-border">
                            <p class="m-b-xs"><strong>@x.Name @x.Mail</strong></p>

                            <p>@x.Description</p>

                        </div>
                    </div>
                </div>

            }           
        </div>
    </div>
</div>
