@using Elite.EntityLayer.Concreate;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_EliteLayout.cshtml";

}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1" class=""></li>
		<li data-target="#myCarousel" data-slide-to="2" class=""></li>
		<li data-target="#myCarousel" data-slide-to="3" class=""></li>
		<li data-target="#myCarousel" data-slide-to="4" class=""></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="container">
				<div class="carousel-caption">
					<h3>Böyük <span>ENDİRİM</span></h3>
					<p>Bu Aya Özəl</p>
					<a class="hvr-outline-out button2" href="mens.html">İndi Alın</a>
				</div>
			</div>
		</div>
		<div class="item item2">
			<div class="container">
				<div class="carousel-caption">
					<h3>Yay <span>KOLLEKSİYASI</span></h3>
					<p>Yeni Kolleksiya Endirmləri</p>
					<a class="hvr-outline-out button2" href="mens.html">İndi Alın </a>
				</div>
			</div>
		</div>
		<div class="item item3">
			<div class="container">
				<div class="carousel-caption">
					<h3>Böyük <span>ENDİRİM</span></h3>
					<p>Bugünə Özəl</p>
					<a class="hvr-outline-out button2" href="mens.html">İndi Alın </a>
				</div>
			</div>
		</div>
		<div class="item item4">
			<div class="container">
				<div class="carousel-caption">
					<h3>Xususi <span>KOLLEKSİYA</span></h3>
					<p>Endirimlər Davan Edir</p>
					<a class="hvr-outline-out button2" href="mens.html">İndi Alın</a>
				</div>
			</div>
		</div>
		<div class="item item5">
			<div class="container">
				<div class="carousel-caption">
					<h3>Hər Sezona <span>ENDİRİMLƏR</span></h3>
					<p>Sərfəli Təkliflər</p>
					<a class="hvr-outline-out button2" href="mens.html">İndi Alın </a>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Əvvəlki</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Sonrakı</span>
	</a>
	<!-- The Modal -->
</div>
<!-- //banner -->
<div class="banner_bottom_agile_info">
	<div class="container">
		<div class="banner_bottom_agile_info_inner_w3ls">
			<div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
				<figure class="effect-roxy">
					<img src="~/web/images/bottom1.jpg" alt=" " class="img-responsive" />
					<figcaption>
						<h3><span>K</span>İŞİ</h3>
						<p>Yeni Kolleksiya</p>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
				<figure class="effect-roxy">
					<img src="~/web/images/bottom2.jpg" alt=" " class="img-responsive" />
					<figcaption>
						<h3><span>Q</span>adın</h3>
						<p>Yeni Kolleksiya</p>
					</figcaption>
				</figure>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- schedule-bottom -->
<div class="schedule-bottom">
	<div class="col-md-6 agileinfo_schedule_bottom_left">
		<img src="~/web/images/mid.jpg" alt=" " class="img-responsive" />
	</div>
	<div class="col-md-6 agileits_schedule_bottom_right">
		<div class="w3ls_schedule_bottom_right_grid">
			<h3>Endirim <span>50%</span> Bu Həftə Üçün</h3>
			<p>
				Endirimlərimizdən Yararlanın.
				Orjinal Məhsullar Sizin Üçün Endirimdədir.
			</p>
			<div class="col-md-4 w3l_schedule_bottom_right_grid1">
				<i class="fa fa-user-o" aria-hidden="true"></i>
				<h4>Kişi Geyimləri</h4>
				<h5 class="counter">653</h5>
			</div>
			<div class="col-md-4 w3l_schedule_bottom_right_grid1">
				<i class="fa fa-calendar-o" aria-hidden="true"></i>
				<h4>Qadın Geyimləri</h4>
				<h5 class="counter">823</h5>
			</div>
			<div class="col-md-4 w3l_schedule_bottom_right_grid1">
				<i class="fa fa-shield" aria-hidden="true"></i>
				<h4>Aksesuarlar</h4>
				<h5 class="counter">45</h5>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="clearfix"> </div>
</div>
<!-- //schedule-bottom -->
<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
	<div class="container">
		<h3 class="wthree_text_info">Bugünün  <span>TRENDİ</span></h3>

		<div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
			<a href="womens.html">
				<div class="bb-left-agileits-w3layouts-inner grid">
					<figure class="effect-roxy">
						<img src="~/web/images/bb1.jpg" alt=" " class="img-responsive" />
						<figcaption>
							<h3><span>En</span>DİRİM </h3>
							<p> 55% dək</p>
						</figcaption>
					</figure>
				</div>
			</a>
		</div>
		<div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
			<a href="mens.html">
				<div class="bb-middle-agileits-w3layouts grid">
					<figure class="effect-roxy">
						<img src="~/web/images/bottom3.jpg" alt=" " class="img-responsive" />
						<figcaption>
							<h3><span>En</span>DİRİM </h3>
							<p>55% dək</p>
						</figcaption>
					</figure>
				</div>
			</a>
			<a href="mens.html">
				<div class="bb-middle-agileits-w3layouts forth grid">
					<figure class="effect-roxy">
						<img src="~/web/images/bottom4.jpg" alt=" " class="img-responsive">
						<figcaption>
							<h3><span>En</span>DİRİM </h3>
							<p>65% dək</p>
						</figcaption>
					</figure>
				</div>
			</a>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--/grids-->
<div class="agile_last_double_sectionw3ls">
	<div class="col-md-6 multi-gd-img multi-gd-text ">
		<a href="/Product/Index/"><img src="~/web/images/bot_1.jpg" alt=" "><h4>Xüsusi<span>50%</span> təklif</h4></a>

	</div>
	<div class="col-md-6 multi-gd-img multi-gd-text ">
		<a href="/Product/IndexWoman/"><img src="~/web/images/bot_2.jpg" alt=" "><h4>Xüsusi <span>50%</span> təklif</h4></a>
	</div>
	<div class="clearfix"></div>
</div>
<!--/grids-->
<!-- /new_arrivals -->
<div class="new_arrivals_agile_w3ls_info">
	<div class="container">
		<h3 class="wthree_text_info">YENİ <span>KOLLEKSİYA</span></h3>
		<div id="horizontalTab">
			
			<div class="resp-tabs-container">
				<div class="tab1">
					@foreach(var item in Model)
					{
						<div class="col-md-3 product-men">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item">
									<img src="@item.ProductImage1" alt="" class="pro-image-front" style="width:270px; height:222px;">
									<img src="@item.ProductImage1" alt="" class="pro-image-back" style="width:270px; height:222px;">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a href="/Product/ProductSıngle/@item.ProductId" class="link-product-add-cart">Sürətli Bax</a>
										</div>
									</div>
									<span class="product-new-top">@item.ProductGender, Ölçü:@item.ProductSize </span>

								</div>
								<div class="item-info-product ">
									<h4><a href="/Product/ProductSıngle/@item.ProductId">@item.ProductName</a></h4>
									<div class="info-product-price">
										<span class="item_price">@item.DiscountedPrice AZN</span>
										<del>@item.CellPrice AZN</del>
									</div>
									<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
										<form action="/Product/BuyProduct/" method="post">
											<fieldset>
												<input type="hidden" name="AppUserId" value="@ViewBag.userID">
												<input type="hidden" name="ProductName" value="@item.ProductName">
												<input type="hidden" name="ProductGender" value="@item.ProductGender ">
												<input type="hidden" name="DiscountedPrice" value="@item.DiscountedPrice">
												<input type="hidden" name="ProductSize" value="@item.ProductSize">
												<input type="hidden" name="ProductId" value="@item.ProductId">
												<input type="hidden" name="ProductImage1" value="@item.ProductImage1">
												<input type="hidden" name="return" value=" ">
												<input type="hidden" name="cancel_return" value=" ">
												<input type="submit" class="button" value="Səbətə At">
											</fieldset>
										</form>
									</div>

								</div>
							</div>
						</div>

					}
					<div class="clearfix"></div>
				</div>
			
			</div>
		</div>
	</div>
</div>
<!-- //new_arrivals -->
<!-- /we-offer -->
<div class="sale-w3ls">
	<div class="container">
		<h6>İlk SİFARİŞİNİZƏ <span>40%</span> ENDİRİM</h6>

		<a class="hvr-outline-out button2" href="single.html">İndi Alın </a>
	</div>
</div>

